@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  background-color: #160c2b;
  color: #fff;
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; /* Center the content */
  justify-content: center; /* Center the content vertically */
  text-align: center; /* Center the text */
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.subtitle-container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
  }

.grid-row {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-gap: 20px;
  align-items: start;
  margin-bottom: 20px;
}

.headline-section {
  text-align: left;
}

.text-section {
  text-align: left;
}

.link {
  color: #ffcc00;
  text-decoration: none;
  font-size: 27px;
}

p {
  margin: 0;
  font-size: 22px; 
}

.title {
  font-size: 50px;
  color: #ffcc00;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 32px;
  margin-bottom: 80px; 
}
